@model TUI.Data.Aircrafts.Options.AircraftPostOptions

<hr />
<h4>Create Aircraft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Aircrafts"
              asp-action="PostAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumptionPerKm" class="control-label"></label>
                <input asp-for="ConsumptionPerKm" class="form-control" type="number" />
                <span asp-validation-for="ConsumptionPerKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOffEffort" class="control-label"></label>
                <input asp-for="TakeOffEffort" class="form-control" type="number" />
                <span asp-validation-for="TakeOffEffort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
