body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.select-option {
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

    .select-option:hover {
        background: rgba(0, 0, 0, 0.1);
    }

.select-list-container {
    height: auto;
}

.select-list {
    height: auto;
}
